@model Lab5.Models.News

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Prediction</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="radio" asp-for="Question" value="Computer">What will the computers look like in 20 years?<br />
                <input type="radio" asp-for="Question" value="Earth">What will the earth look like in 20 years?<br />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" name="Upload" class="form-control-file" />
            </div>
            <div class="form-group">
                <input type="submit" value="Upload Now" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
