@model Lab5.Models.ViewModels.NewsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                File Name
            </th>
            <th>
                Question
            </th>
            <th>
                Url
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.News) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                <div>
                    <img src="@item.Url" alt="Image" style="max-width: 800px;">
                </div>
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.NewsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
